<nav>
    <style>

        .nav{background-color: #ddd;
        overflow: hidden;}
        .nav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 2%;
        text-decoration: none;
        font-size: 17px;
        }
        .nav a.active {
        background-color: #bbbbbb;
        color: white;
        }
        .nav a:hover {
        background-color: #ccc;
        color: black;
        }
}
    </style>
    <div class="nav">
        <a class="active" href = '/admin/'>Admin</a>
        <a class="active" href = '/'>      Home </a>
        <a class="active" href = '/panel/'>Panel</a>
        <a class="active" href = '/shellsend/'>Shell</a>
        <a></a><a></a><a></a><a></a><a></a><a></a><a></a><a></a>

        <!--<a class="active" href = '/logs/'> Logs</a>
        <a class="active" href = '/main/'>Hello</a>
        <a class="active" href = '/shellsend/'>shell</a>

        <a class="active" href = '/newuser/'>sign up</a>
        <a class="active" href = '/accounts/login/'>log in</a>
        <a class="active" href = '/accounts/logout/'>log out</a>
        -->
        <a></a><a></a><a></a><a></a><a></a><a></a><a></a>
        <a class="active" href = '/account/'>my account</a>
    </div>


</nav>